@font-face {
  font-family: "justfont";
  src: url('../fonts/jf-openhuninn-2.0.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 1rem;
  padding: 2%;
  font-family: "justfont";
  background-color: #F6F8FA;
  height: 100vh;
}

footer {
  font-size: small;
  font-weight: bold;
  color: #5B627D;
  width: 100%;
  height: auto;
  text-align: center;
}

code {
  font-family: "justfont";
}

.button {
  font-size: larger;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}

.roulette-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: +9;
  border-radius: 5rem;
  width: 10%;
  height: 10%;
  transform: translate(-55%, -55%);
  background: #F6F8FA;
  color: #000000;
  font-size: 0.8rem;
  font-weight: bold;
}

.roulette-logo {
  position: absolute;
  width: 120%;
  height: auto;
}

.input {
  border: 1px solid #DCDCDC;
  margin-right: 10px;
  height: 2rem;
  border-radius: 5px;
  min-width: 200px;
  padding-left: 15px;
  flex: 1;
  font-family: "justfont";
}

.img-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.img-content {
  position: relative;
  width: 80px;
  height: 45px;
  object-fit: cover;
  margin-right: 15px;
  position: relative;
}

.item {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.result-item {
  display: flex;
  align-items: center;
}

.result-text {
  color: #5B627D;
  font-size: 1.25rem;
}

.result-image {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  margin-right: 25px;
  border-radius: 8px;
  display: block;
}

.hidden {
  display: none;
}

i,
svg {
  /* margin-right: 1rem; */
}
.App {
  text-align: center;
  font-family: "justfont";
}

.text-title {
  font-size: 1.2rem;
  color: #5B627D;
}

.prize-message {
  border: 1px solid #DCDCDC;
  padding: 20px 35px;
  border-radius: 0.5rem;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "justfont";
  max-width: 450px;
  margin: 5% 0 10% 0;
  cursor: pointer;
  /*
  margin: 0 auto;
  background: #7EB62E;
  background: rgb(35, 155, 99);
  background: linear-gradient(
    0deg,
    rgba(35, 155, 99, 1) 0%,
    rgba(100, 176, 49, 1) 100%
  );
  */
  background: #5B627D;
}

.roulette-container {
  position: relative;
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.roulette-container > div {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
}

.main-form {
  max-width: 600px;
  margin: 0 auto;
}

img[alt~="roulette-static"] {
  position: absolute;
  transform: rotate(215deg) scale(1.1);
  content: url("../images/img_finger.png");
}

@media only screen and (max-width: 600px) {
  .text-title, .result-text {
    font-size: 1.0rem;
  }

  .roulette-button {
    width: 10%;
  }

  .input {
    min-width: 150px;
  }
}